extends ../layout

block content
  .container
    if post.id
      h1.page-header 숙소정보 수정하기
    else
      h1.page-header 호스팅하기

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='title') 제목
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='city') 도시
        input.form-control(type='text', id='city', name='city', placeholder='city', value=post.city)
      .form-group
        label(for='address') 주소
        input(type="text", id="postcode", placeholder="우편번호", name='postcode', value=post.postcode)
        input(type="button", onclick="execDaumPostcode()", value="우편번호 찾기")
        br
        input.form-control.col-md-6(type="text", id="address", placeholder="주소", name='address', value=post.address)
        input.form-control.col-md-6(type="text", id="address2", placeholder="상세주소", name='address2', value=post.address2)
      .form-group
        label(for='fee') 숙소요금
        input.form-control(type='number', id='fee', name='fee', placeholder='fee', value=post.fee)
      .form-group
        label(for='convenient') 편의시설
        textarea.form-control(id='convenient', rows='2', name='convenient', placeholder='convenient here')=post.convenient
      .form-group
        label(for='content') 설명
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content
      .form-group
        label(for='rule') 이용규칙
        textarea.form-control(id='rule', rows='10', name='rule', placeholder='rule here')= post.rule

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료


  script(type='text/javascript', src='/javascripts/address.js')