extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    p 
      b 도시 : #{post.city}
    p 
      div 주소 : #{post.address}
    p
      div 이용가격 : #{post.fee} 
    p
      div 편의시설 : #{post.convenient}
    p
      div 이용규칙 : #{post.rule}

    p.well(style='white-space:pre;')= post.content
    
    a.btn.btn-default(href='/posts') 목록

    if(post.reservation === '예약가능')
        a.btn.btn-default(href='/reserves/#{post._id}/') 예약하기
    else
        a.btn.btn-default(href='/reserves/#{post._id}/show') 예약보기
    
